// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, minmax(120px, 1fr));
	column-gap: toRem(25);
	row-gap: toRem(24);

	@media (max-width: toEm(667)) {
		grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
	}
}

// Спойлер
.spollers__item {
	display: flex;
	flex-direction: column;
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;
	font-weight: 500;
	line-height: 1.125;
	/* 18/16 */
	letter-spacing: toRem(3);
	margin-block-end: toRem(28);

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}

	@media (max-width:$tablet) {
		margin-block-end: toRem(16);
	}
}

// Контент спойлера
.spollers__body {
	line-height: 1.1875;
	/* 19/16 */
	color: $mainColor60;

	&:not(:last-child) {
		margin-block-end: toRem(18);
	}

	@media (max-width:$tablet) {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
}