.tabs {

	// .tabs__navigation
	&__navigation {
		display: flex;
	}

	// .tabs__title
	&__title {
		flex: 1 1 33.33333%;
		border-block-end: toRem(2) solid $mainColor10;
		padding-block-end: toRem(24);
		color: $mainColor60;
		font-size: toRem(20);
		line-height: 1.1;

		/* 22/20 */
		@media (max-width: toEm(600)) {
			flex: 1 1 auto;
			font-size: toRem(18);

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}

		@media (max-width:$mobileSmall) {
			padding-block-end: toRem(20);
			font-size: toRem(16);
			line-height: 1.375;
			/* 22/16 */
			//white-space: nowrap;
		}

		&._tab-active {
			border-block-end: toRem(2) solid $mainColor;
			color: $mainColor;
			font-weight: 500;
		}
	}

	// .tabs__content
	&__content {
		// border: 1px solid #eee;
		// padding: toRem(10) toRem(15);
	}

	// .tabs__body
	&__body {}
}