@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?flg1l8') format('truetype'),
    url('fonts/icons.woff?flg1l8') format('woff'),
    url('fonts/icons.svg?flg1l8#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-left:before {
  content: "\e912";
}
._icon-s-facebook:before {
  content: "\e900";
}
._icon-s-github:before {
  content: "\e901";
}
._icon-s-insta:before {
  content: "\e902";
}
._icon-s-twitter:before {
  content: "\e903";
}
._icon-arrow-right:before {
  content: "\e904";
}
._icon-bag:before {
  content: "\e905";
}
._icon-cart:before {
  content: "\e906";
}
._icon-chek-mark:before {
  content: "\e907";
}
._icon-close:before {
  content: "\e908";
}
._icon-envelope:before {
  content: "\e909";
}
._icon-filter:before {
  content: "\e90a";
}
._icon-Frame:before {
  content: "\e90b";
}
._icon-ok:before {
  content: "\e90c";
}
._icon-search:before {
  content: "\e90d";
}
._icon-star_1:before {
  content: "\e90e";
}
._icon-star_05:before {
  content: "\e90f";
}
._icon-user:before {
  content: "\e910";
}
._icon-vector:before {
  content: "\e911";
}
