//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: 170px;
	height: 52px;
	display: flex;
	justify-content: space-between;
	background-color: $bgMain;
	border-radius: toRem(62);
	padding-inline: toRem(20);
	padding-block: toRem(16);

	// .quantity--cart	
	&--cart {
		block-size: toRem(44);
		inline-size: toRem(126);
		padding-block: toRem(12);
		justify-content: center;
	}

	@media (max-width:$mobileSmall) {
		padding-block: toRem(12);
		padding-inline: toRem(16);
		block-size: toRem(44);
	}

	// .quantity__button
	&__button {
		inline-size: toRem(20);
		flex: 0 0 toRem(20);
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $mainColor;
			width: 16px;
			height: 2px;

			&--cart {
				inline-size: toRem(10);
			}
		}

		@media (any-hover: hover) {
			&:hover {

				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&--minus {}


	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			font-weight: 500;
			color: $mainColor;
			width: 100%;
			text-align: center;
		}
	}
}