//====================================================================================================
//===
.category {
  @media (max-width:$mobile) {
    position: relative;

    .filter-open & {
      &::before {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: $mainColor20;
      }
    }
  }

  // .product__breadcrumbs
  &__breadcrumbs {}

  // .category__content
  &__content {
    @include adaptiveValue("margin-block-end", 80, 50, 0, 1440, 390);
  }

  // .category__body
  &__body {}

  // .product__offers
  &__offers {}
}

//====================================================================================================
//===Breadcrumbs
.breadcrumbs {

  // .breadcrumbs__container
  &__container {}

  // .breadcrumbs__list
  &__list {}

  // .breadcrumbs__item
  &__item {}

  // .breadcrumbs__link
  &__link {}
}

//====================================================================================================
//===Content-category
.content-category {

  // .content-category__container
  &__container {
    position: relative;
    display: flex;
    align-items: start;
    column-gap: toRem(24);

    @media (max-width:$mobile) {
      position: static;
    }
  }

  // .content-category__filter
  &__filter {}

  // .content-category__body
  &__body {}
}

.filter {
  position: sticky;
  top: 0;
  display: flex;
  height: auto;
  flex-direction: column;
  flex-basis: toRem(247);
  flex-shrink: 0;
  flex-grow: 1;
  border: toRem(1) solid $mainColor10;
  border-radius: toRem(20);
  padding: toRem(20) toRem(24);

  @media (max-width:$tablet) {
    padding: toRem(18);
  }

  @media (max-width:$mobile) {
    display: none;

    .filter-open & {
      display: flex;
      position: absolute;
      inset-block-start: toRem(0);
      inset-inline-start: 0;
      background-color: #fff;
      border-radius: toRem(20) toRem(20) 0 0;
      z-index: 2;
      inline-size: 100%;
      block-size: auto;
      // overflow-y: auto;
    }
  }

  // .filter__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-end: toRem(24);
  }

  // .filter__title
  &__title {
    font-size: toRem(20);
    font-weight: 700;
  }

  // .filter__button-filtr
  &__button-filtr {
    inline-size: toRem(24);
    block-size: toRem(24);
    aspect-ratio: 1;
    flex-shrink: 0;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;

      &::before {
        inline-size: toRem(24);
        aspect-ratio: 1;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $mainColor60;
        font-size: toRem(20);
      }

      &:first-child {}

      &:last-child {
        transform: translate(0, 0) scale(0);
      }
    }

    .filter-open & {
      span {
        &:first-child {
          transform: translate(0, -100%) scale(0);
        }

        &:last-child {
          transform: translate(0, -100%) scale(1);
        }
      }
    }
  }

  // .filter__body
  &__body {
    padding-block-start: toRem(20);
    border-block-start: toRem(1) solid $mainColor10;

    &:not(:last-child) {
      margin-block-end: toRem(24);
    }
  }

  // .filter__form
  &__form {}
}

.form-filter {
  display: flex;
  flex-direction: column;
  row-gap: toRem(24);

  // .form-filter__item
  &__item {
    padding-block-start: toRem(24);
    border-block-start: toRem(1) solid $mainColor10;
  }

  // .form-filter__button  
  &__button {
    @media (max-width:$tablet) {
      inline-size: 100%;
      padding-block: toRem(16);
      padding-inline: 0;
      text-align: center;
    }
  }
}

.item-filter {

  // .item-filter__header
  &__header {
    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .item-filter__icon
  &__icon {}

  // .item-filter__body
  &__body {}

  // .item-filter__label
  &__label {}
}

.filter-price {
  padding-block-end: toRem(15);

  // .filter-price__range
  &__range {
    margin-block-end: toRem(12);
  }
}

.body-filter {

  // .body-filter__item
  &__item {}

  // .body-filter__button
  &__button {}
}

.filter-colors {

  // .filter-colors__color

  &__color {}
}

// .color-options-product {

//   // .color-options-product__items
//   &__items {
//     display: flex;
//     align-items: center;
//     column-gap: auto;
//     row-gap: toRem(16);
//   }

//   // .color-options-product__item
//   &__item {
//     inline-size: toRem(37);
//     aspect-ratio: 1;
//     flex-shrink: 0;
//   }

//   // .color-options-product__input
//   &__input {}

//   // .color-options-product__image
//   &__image {}
// }

.filter-size {

  // .filter-size__size
  &__size {}
}

.options {
  gap: toRem(8);

  // .options__item
  &__item {
    // padding: toRem(10) toRem(20);
  }

  // .options__input
  &__input {}

  // .options__label
  &__label {
    padding-block: toRem(12);
    padding-inline: toRem(24);
  }

  // .options__text
  &__text {}
}

.body-category {
  flex-basis: toRem(928);
  flex-shrink: 1;
  flex-grow: 0;

  // .body-category__header
  &__header {
    margin-block-end: toRem(16);
  }

  // .body-category__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: toRem(20);
    row-gap: toRem(36);
    padding-block-end: toRem(32);
    border-block-end: toRem(1) solid $mainColor10;

    @media (max-width:$mobile) {
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
  }

  // .body-category__item
  &__item {}

  // .body-category__pages
  &__pages {}
}

.header-body-category {
  display: flex;
  align-items: center;
  column-gap: toRem(8);
  justify-content: space-between;

  // .header-body-category__title
  &__title {
    font-size: toRem(32);
    font-weight: 700;

    @media (max-width:$mobile) {
      font-size: toRem(28);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(24);
    }
  }

  // .header-body-category__sort
  &__sort {}
}

.sort-category {
  display: flex;
  align-items: center;
  column-gap: toRem(16);

  // .sort-category__showing
  &__showing {
    color: $mainColor60;
  }

  // .sort-category__text
  &__text {
    color: $mainColor60;
  }

  // .sort-category__form  
  &__form {
    display: flex;
    align-items: center;
    column-gap: toRem(6);

    @media (max-width:$mobile) {
      display: none;
    }
  }

  // .sort-category__select
  &__select {}
}

.pages-body-category {
  padding-block-start: toRem(22);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__previous,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: toRem(8);
    border: toRem(1) solid $mainColor10;
    background-color: #fff;
    padding: toRem(8) toRem(14);
    transition: all 0.4s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $mainColor10;
      }
    }
  }

  &__previous-link,
  &__next-link {
    display: flex;
    align-items: center;
    column-gap: toRem(8);
    font-size: toRem(12);
    font-weight: 500;
    line-height: 166.666667%;

    /* 20/12 */
    &::before {
      inline-size: toRem(16);
      aspect-ratio: 1;
      flex-shrink: 0;
      font-size: toRem(14);
      font-weight: 600;
    }
  }

  // .pages-body-category__previous
  &__previous {}

  // .pages-body-category__previous-link
  &__previous-link {}

  // .pages-body-category__list
  &__list {
    display: flex;
    align-items: center;

  }

  // .pages-body-category__item
  &__item {
    inline-size: toRem(36);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: toRem(8);
    color: $mainColor50;
    cursor: pointer;

    &:first-child {
      background-color: rgba(0, 0, 0, 0.06);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.06);
    }

    @media (max-width:$mobile) {

      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  // .pages-body-category__link
  &__link {
    font-size: toRem(12);
    font-weight: 500;
    line-height: 166.666667%;
    /* 20/12 */
  }

  // .pages-body-category__next
  &__next {}

  // .pages-body-category__next-link
  &__next-link {
    flex-direction: row-reverse;
  }
}

//====================================================================================================
//===Offers
.offers-section {
  position: relative;
  z-index: 1;

  // .offers-section__container
  &__container {}

  // .offers-section__offers
  &__offers {
    @media (max-width: toEm(900)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}