//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__brands    
  &__brands {}

  // .page__arrivals
  &__arrivals {}

  // .page__selling
  &__selling {}

  // .page__style
  &__style {
    @include adaptiveValue("margin-block-end", 80, 50, 0, 1440, 390);
  }

  // .page__customers  
  &__customers {}
}

//====================================================================================================
//===Hero
.hero {
  min-height: 100vh;
  position: relative;
  background-color: $bgMain;

  @media (max-width:$tablet) {
    display: flex;
    flex-direction: column;
  }

  // .hero__container
  &__container {
    display: flex;
  }

  // .hero__content
  &__content {
    padding-block-end: toRem(116);
    flex-basis: toRem(596);
    // flex-shrink: 1;
    position: relative;
    z-index: 1;

    @media (max-width:$tablet) {
      padding-block-end: toRem(5);
      // flex-shrink: 1;
    }

    @include adaptiveValue("padding-block-start", 103, 40, 0, 1440, 390);
  }

  // .hero__title
  &__title {
    &:not(:last-child) {
      margin-block-end: toRem(32);
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(20);
      }
    }
  }

  // .hero__text
  &__text {
    line-height: 1.375;
    /* 22/16 */
    color: $mainColor60;
    position: relative;
    z-index: 5;

    &:not(:last-child) {
      margin-block-end: toRem(32);
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(24);
      }
    }
  }

  // .hero__button
  &__button {
    text-align: center;

    &:not(:last-child) {
      margin-block-end: toRem(48);
    }

    @media (max-width: toEm(535)) {
      inline-size: 100%;
      justify-content: center;
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(22);
      }
    }
  }

  // .hero__statistics
  &__statistics {}


  // .hero__image-bg
  &__image-bg {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: 100%;
    object-fit: cover;

    @media (max-width:$tablet) {
      position: relative;
      aspect-ratio: 390 / 448;

    }
  }
}

.statistics-hero {

  // .statistics-hero__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(12);
  }

  // .statistics-hero__item
  &__item {
    display: flex;
    flex-direction: column;

    @media (max-width: toEm(535)) {
      &:last-child {
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  // .statistics-hero__number
  &__number {
    // font-size: toRem(40);
    font-weight: 700;
    line-height: 1.35;
    /* 54/40 */
    @include adaptiveValue("font-size", 40, 24, 0, 1440, 390);
  }

  // .statistics-hero__text
  &__text {
    color: $mainColor60;
    line-height: 1.375;
    /* 22/16 */
    text-transform: capitalize;

    @media (max-width:$mobileSmall) {
      font-size: toRem(12);
      line-height: 1.833333;
      /* 22/12 */
    }
  }

  @media (max-width: toEm(535)) {
    padding-inline: toRem(29);
  }
}

//====================================================================================================
//===Brands
.brands {
  background-color: $mainColor;

  // .brands__container
  &__container {}

  // .brands__items
  &__items {
    padding-block: toRem(44);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(40);
    row-gap: toRem(22);

    @media (max-width: toEm(530)) {
      column-gap: toRem(20);
      padding-block: toRem(39);
    }
  }

  picture {
    @media (max-width: toEm(530)) {
      flex-grow: 1;
      align-self: center;
      justify-self: center;
      text-align: center;
    }
  }

  // .brands__image  
  &__image {}
}

//====================================================================================================
//===Arrivals
.arrivals {

  // .arrivals__container
  &__container {}

  // .arrivals__body
  &__body {
    padding-block-start: toRem(72);
    padding-block-end: toRem(64);

    @media (max-width: toEm(530)) {
      padding-block-start: toRem(50);
      padding-block-end: toRem(40);
    }
  }

  // .arrivals__title
  &__title {
    text-align: center;
    @include adaptiveValue("margin-block-end", 55, 32, 0, 1440, 390);
  }

  // .arrivals__content  
  &__content {
    display: flex;
    flex-direction: column;
  }

  // .arrivals__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: toRem(20);
    row-gap: toRem(24);

    &:not(:last-child) {
      margin-block-end: toRem(36);

      @media (max-width:$mobile) {
        margin-block-end: toRem(36);
      }

      @media (max-width: toEm(390)) {
        margin-block-end: toRem(24);
      }
    }

    @media (max-width: toEm(530)) {
      margin-inline-end: toRem(-55);
    }
  }

  // .arrivals__item
  &__item {}

  // .arrivals__button-all
  &__button-all {
    align-self: center;

    @media (max-width: toEm(530)) {
      inline-size: 100%;
    }
  }
}

//====================================================================================================
//===Selling
.selling {

  // .arrivals__container
  &__container {}

  // .arrivals__body
  &__body {
    border-top: toRem(1) solid rgba(0, 0, 0, 0.10);
    padding-block-start: toRem(72);
    padding-block-end: toRem(64);

    @media (max-width: toEm(530)) {
      padding-block-start: toRem(50);
      padding-block-end: toRem(40);
    }
  }

  // .arrivals__title
  &__title {
    text-align: center;
    @include adaptiveValue("margin-block-end", 55, 32, 0, 1440, 390);
  }

  // .arrivals__content  
  &__content {
    display: flex;
    flex-direction: column;
  }

  // .arrivals__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: toRem(20);
    row-gap: toRem(24);

    &:not(:last-child) {
      margin-block-end: toRem(36);

      @media (max-width:$mobile) {
        margin-block-end: toRem(36);
      }

      @media (max-width: toEm(390)) {
        margin-block-end: toRem(24);
      }
    }

    @media (max-width: toEm(530)) {
      margin-inline-end: toRem(-55);
    }
  }

  // .arrivals__item
  &__item {}

  // .arrivals__button-all
  &__button-all {
    align-self: center;

    @media (max-width: toEm(530)) {
      inline-size: 100%;
    }
  }
}

//====================================================================================================
//===Style
.style {

  // .style__container
  &__container {
    background-color: $bgMain;
    border-radius: toRem(40);
  }

  // .style__title
  &__title {
    padding-block-start: toRem(70);
    text-align: center;

    &:not(:last-child) {
      margin-block-end: toRem(64);
    }
  }

  // .style__body
  &__body {}

  // .style__items
  &__items {
    display: grid;
    grid-template-columns: 1.583fr 1fr 1.583fr;
    gap: toRem(20);
    @include adaptiveValue("padding-inline", 64, 24, 0, 1440, 390);
    @include adaptiveValue("padding-block-end", 76, 27, 0, 1440, 390);

    @media (max-width:$mobile) {
      grid-template-rows: auto;
      grid-auto-rows: auto;
    }
  }

  // .style__item
  &__item {

    @media (min-width:$mobile) {

      &:nth-child(2),
      &:nth-child(3) {
        grid-column: span 2;
        aspect-ratio: 684 / 289;
        inline-size: 100%;
      }

      &:nth-child(4n+2),
      &:nth-child(4n+3) {
        grid-column: span 2;
        aspect-ratio: 684 / 289;
        inline-size: 100%;
      }
    }

    @media (max-width:$mobile) {
      grid-column: span 3;
    }
  }
}

//====================================================================================================
//===Customers
.customers {
  padding-block-end: toRem(80);

  // .customers__container
  &__container {}

  // .customers__top
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: toRem(10);
    @include adaptiveValue("margin-block-end", 40, 24, 0, 1440, 390);
  }

  // .customers__title
  &__title {}

  // .customers__navigation

  &__navigation {
    display: flex;
    align-items: center;
    column-gap: toRem(5);
  }

  &__button-prev,
  &__button-next {
    flex-basis: toRem(24);
    inline-size: toRem(24);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      align-self: center;
      font-size: toRem(19);
    }
  }

  // .customers__button-prev
  &__button-prev {
    &::before {
      transform: rotate(180deg) translate(0, 5%);
    }
  }

  // .customers__button-next
  &__button-next {}

  // .customers__content

  &__content {}

  // .customers__slider

  &__slider {}

  // .customers__wrapper

  &__wrapper {}

  // .customers__slide

  &__slide {}
}