//====================================================================================================
//===


//====================================================================================================
//===Like
.like {

  // .like__container
  &__container {}

  // .like__body
  &__body {
    border-top: toRem(1) solid rgba(0, 0, 0, 0.10);
    padding-block-start: toRem(72);
    padding-block-end: toRem(64);

    @media (max-width: toEm(530)) {
      padding-block-start: toRem(50);
      padding-block-end: toRem(40);
    }
  }

  // .like__title
  &__title {
    text-align: center;
    @include adaptiveValue("margin-block-end", 55, 32, 0, 1440, 390);
  }

  // .like__content  
  &__content {
    display: flex;
    flex-direction: column;
  }

  // .like__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: toRem(20);
    row-gap: toRem(24);

    &:not(:last-child) {
      margin-block-end: toRem(36);

      @media (max-width:$mobile) {
        margin-block-end: toRem(36);
      }

      @media (max-width: toEm(390)) {
        margin-block-end: toRem(24);
      }
    }

    @media (max-width: toEm(530)) {
      margin-inline-end: toRem(-60);
      grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
      column-gap: toRem(16);
    }
  }

  // .like__item
  &__item {}

  // .like__button-all
  &__button-all {
    align-self: center;

    @media (max-width: toEm(530)) {
      inline-size: 100%;
    }
  }
}

//====================================================================================================
//===Offers
.offers-section {
  position: relative;
  z-index: 1;

  // .offers-section__container
  &__container {}

  // .offers-section__offers
  &__offers {
    @media (max-width: toEm(900)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}